body {
    font-family: 'Tajawal', sans-serif;
    font-size: 14pt;
    color: #333;
}

h1, h2, h3 {
    font-family: 'Comic Neue', cursive;
    color: #e7659f;
}

main h3 {
    text-decoration: underline;
}

main a {
    font-weight: bold;
}

main li {
    font-style: italic;
}

a:link, a:visited {
    text-decoration: none;
    color: #e7659f;
}

.main-nav a:link, .main-nav a:visited {
    color: #333;
}

.main-nav a:hover {
    border-bottom: 2px solid #e7659f;
}

.main-nav a:active {
    color: #e7659f;
}

a img:hover {
    opacity: 0.9;
}

.post-continer main a:hover, .related-posts a:hover {
    text-decoration: underline;
}

.button:link, .button:visited {
    display: inline-block;
    background: #e7659f;
    color: #fff;
    padding: 0.2em 0.4em;
}